@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem 6rem;
  gap: 2rem;
}

.text h2 {
  font-size: 3.75rem;   
  font-weight: 600;
}

.text p {
  font-size: 1.25rem;   
  color: gray;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  background: transparent;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.link:hover {
  background: #d5d4d6; 
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover a {
  color: var(--color-text);
}

.link img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Responsive */
@media screen and (max-width: 830px) {
  .container {
    padding: 2rem;
  }

  .text h2 {
    font-size: 2.8125rem; 
  }

  .text p {
    font-size: 1.125rem; 
  }

  .link a {
    font-size: 1rem;   
  }
}
