@import "../../vars.css";

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* <-- controls space between components */
  padding: 2rem;
  /* optional for extra padding from page edges */
}