.dancePageContainer {
  padding: 2rem 5%;
  text-align: center;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sectionDescription {
  font-size: 1rem;
  color: var(--text-medium-grey);
  margin: 0 auto 2rem auto;
  max-width: 800px;
  line-height: 1.6;
}


.danceContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.danceCard {
  background: var(--surface-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.danceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.danceImage {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.danceTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: var(--text-dark-grey);
}

.danceDescription {
  font-size: 1rem;
  color: var(--text-medium-grey);
  margin: 0 1rem 1rem;
  white-space: pre-line;
}

.danceLinks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.danceLink {
  background-color: var(--blue-light);
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.danceLink:hover {
  background-color: var(--text-medium-grey);
  color: var(--blue-light);
}

@media screen and (max-width: 768px) {
  .danceContainer {
    flex-direction: column;
    gap: 1.5rem;
  }

  .danceCard {
    width: 100%;
  }
}