@import "../../vars.css";

.footer {
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo {
  width: 2.5rem;
  height: auto;
}

.footer p {
  font-size: 1rem;
  color: #2d3e50;
}