@import "../../vars.css";

.footer {
  color: var(--white);
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-divider {
  width: 100%;
  height: 1px;
  border-top: 1px dashed var(--grey-border);
  margin-bottom: 1.5rem;
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  padding: 0.5rem 0;
  transition: opacity 0.3s;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-link a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-link img {
  width: 1.25rem;
  height: 1.25rem;
}

.footer-link svg {
  width: 0.75rem;
  height: 0.75rem;
}

.footer-logo {
  width: 2.5rem;
  height: auto;
}

.footer p {
  font-size: 1rem;
  color: var(--text-blue-grey);
}