@import "./vars.css";

.App {
  background-color: var(--background-white);
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContent {
  margin-left: 20rem; /* Match sidebar width */
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

/* Responsive - remove margin when sidebar is hidden */
@media screen and (max-width: 1024px) {
  .mainContent {
    margin-left: 0;
  }
}